body {
    margin: 0;
}

ul {
    margin-top:20px;
}

#addPin {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    
}

.modal-content {
    padding: 10px;
}

.pin-it {
    margin-left: 10px;
}

form {
    width: auto;
}
